*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#eaeaea;
  width: 100%;
  height: 100%;
}


.dashboard{
  display:flex;
  gap:20px;
  padding:20px;

}

.sidebar{
  width:260px;
  background:#fff;
  border-radius:16px;
  padding:20px;
}

.logo{
  margin-bottom:20px;
}

.gauge{
  position: relative;
  width: 200px;
  margin: auto;
}

svg{
  width: 100%;
}

svg path{
  fill: none;
  stroke: #eee;
  stroke-width: 15;
  stroke-linecap: round;
}

.progress{
  stroke: #f5b74f;
  stroke-dasharray: 251;
  stroke-dashoffset: 40; 
}

.search{
  width:100%;
  padding:10px;
  border-radius:16px;
  border:1px solid #ddd;
  margin-bottom:20px;
}

.menu{
  list-style:none;
}

.menu li{
  padding:10px;
  border-radius:8px;
  cursor:pointer;
  color:#555;
  font-size: 20px;
}

.menu li:hover{
  background:#fff4dd;
}

.profile{
  margin-top:40px;
  font-size:14px;
}

.admin{
  background:#ffe4b3;
  padding:2px 6px;
  border-radius:6px;
  font-size:12px;
}

.content{
  flex:1;
}

.cards{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  margin-bottom:20px;
}

.card{
  background:#fff;
  border-radius:16px;
  padding:20px;
}

.card h2{
  font-size:32px;
  margin:10px 0;
}

.up{
  color:green;
}

.center{
  text-align:center;
}

.box{
  background:#fff;
  border-radius:16px;
  padding:20px;
  width: 60%;
}

.customer:hover{
   background-color: #fff4dd;
   cursor: pointer;
}

.customer{
  display:flex;
  gap:10px;
  padding:10px;
  border-radius:10px;
  margin-top:10px;
}

.look {
  padding-left: 120px;
  margin-top: 10px;
}

.box1 {
  width: 40%;
  height: 100%;
  gap: 20px;
 display: flex;
 flex-direction: column;
}

.parentdiv {
  display: flex;
  height: 400px;
  width:100%;
  gap: 20px;
}

.carde1 {
  border-radius: 16px;
 height: 60%;
 background-color: #fff;
 padding: 16px;
}

.carde2 {
height: 40%;
display: flex;
justify-content: space-between;
width: 100%;
gap: 20px;
}

.div1 { 
  border-radius: 16px;
  background-color: #fff;
  color: #ccc;
  width: 100%;
  padding: 16px;
}


.div2 {
     border-radius: 16px;
  background-color: #fff;
  color: #ccc;
  width: 100%;
  padding: 16px;

}

.div3  {
    border-radius: 16px;
  background-color: #fff;
  color: #ccc;
  width: 100%;
  padding: 16px;
}

.pre {
  color: #db9e2e; 
}

.div3 img {
  border-radius: 50px;
  width: 30px;
margin-top: 20px;
  
}

.carde1 img {
  width: 100%;
  height: 100%;
}

.box2 {
 display: flex;
 width: 100%;
  height: 250px;
  padding-top: 20px;
  gap: 20px;
}

.div4 {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}

.div5 {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}



.div6 {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}


.div5 img {
   width: 100%;
   height: 15%;
}

.nike {
  height: 70%;
  display: flex;
  align-items: center;
}

.nike2 {
   height: 30%;
}


.div7 {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}


.active{
  border: 5px solid #ffe4b3;
  border-radius: 70px;
}

.mike{
 display: flex;
 flex-direction: column;
 gap: 10px ;
 width: 100%;
 height: 100%;
 padding: 3px;
}

.a{
  background-color: #ffe4b3;
  width: 100%;
  height: 15%;
  padding: 3px;
  gap: 5px;
  }

.b{
  background-color: #ffe4b3;
  width: 100%;
  height: 15%;
  padding: 3px;
}

.c{
 background-color: #ffe4b3;
  width: 100%;
  height: 15%;
  padding: 3px;
}


.d{
  background-color: #ffe4b3;
  width: 100%;
  height: 15%;
  padding: 3px;
}









